* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(55, 113, 175);
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 40rem;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 2rem;
}

.count {
    font-size: 2rem;
    margin: 1rem ;
}

input[type="text"] {
    display: block;
    width: 100%;
    border: 1px solid #dedede;
    padding: .5rem;
    border-radius: 4px;
    margin-top: 1rem;
}